@model IEnumerable<TicketingSystem.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="word-wrap: break-word">
            @Html.DisplayFor(modelItem => item.Author.Email)
        </td>
        <td style="word-wrap: break-word">
            @Html.DisplayFor(modelItem => item.Ticket.Title)
        </td>
        <td style="word-wrap: break-word">
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
